{{#partial "content"}}
    <h1 style="text-align:center;font-family:'Abel', sans-serif;color:white;font-size:45px;margin-top:20px;position:relative;top:50px;">"The animals of the world exist for their own reasons.<br> They were not made
        for humans any more than black<br> people were made for white,<br> or women created for men."</h1>
    <a href="/animal/form"><button type="submit" class="btn btn-success" style="position:relative;top:60px;left:500px;font-family:'Abel', sans-serif;font-size:20px;">Add animal</button></a>
    <a href="/sighting/new"><button type="submit" class="btn btn-success" style="position:relative;top:60px;left:500px;font-family:'Abel', sans-serif;font-size:20px;">Did you see an animal?</button></a>
{{/partial}}
{{>layout.hbs}}