{{#block "header"}}
    <!doctype html>
    <html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport"
              content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Wildlife Tracker</title>
        <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css'>
        <link rel="stylesheet" href="/css/App.css">
        <link href="https://fonts.googleapis.com/css?family=Indie+Flower&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Abel&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Abel&display=swap" rel="stylesheet">
    </head>
{{/block}}
<body style="background-image:linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ),url(https://www.guinnessworldrecords.com/Images/polar-bear-on-ice-header_tcm25-562282.jpg);background-repeat:no-repeat;background-size:cover;height:800px;">
<ul class="nav nav-tabs" style="font-family: 'Abel', sans-serif;font-size:24px;color:'black'">
    <li role="presentation"><a href="/">Home</a></li>
    <li role="presentation"><a href="/animals">Animals</a></li>
    <li role="presentation"><a href="/sights">Sightings</a></li>
</ul>
<div class="container-fluid">
    {{#block "content"}}

    {{/block}}
</div>
{{#block "footer"}}
<footer style="position:relative;top:300px;text-align:center">
    <div class="container">
        <p>Copyright &copy; All Rights Reserved Wildlife_Track</p>
    </div>
</footer>
{{/block}}
</body>
</html>
