{{#partial}}
<p style="text-align:center;font-size:40px;font-family: 'Abel', sans-serif;color:white,position:relative;top:500px">Thank you for saving the animal!!!</p>
{{/partial}}
            {{>layout.hbs}}