{{#partial "content"}}
<p style="text-align:center;font-size:40px;font-family: 'Abel', sans-serif;color:white,position:relative;top:500px;color:white">Thank you for reporting the animal.</p>

{{/partial}}
{{>layout.hbs}}