{{#partial "content"}}
<p style="text-align:center;font-size:40px;font-family: 'Abel', sans-serif;color:white,position:relative;top:500px;color:white;font-size:60px;">Thank you for reporting the animal.</p>
<img src="https://static.boredpanda.com/blog/wp-content/uploads/2016/04/smiling-animals-23-570e0c3c1960c__605.jpg" width="400"style="position:relative;left:400px">

{{/partial}}
{{>layout.hbs}}