{{#partial}}
<p style="text-align:center;font-size:40px;font-family: 'Abel', sans-serif;color:white,position:relative;top:500px;color:white;font-size:60px;">Thank you for reporting the animal.</p>
<img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTVlc03DuaLpQGSvsTpaLGjZo5MhAijCAuoso68VrmtYPnWtfUi" width="400"style="position:relative;left:400px">
{{/partial}}
            {{>layout.hbs}}